body {
  background: rgb(0, 0, 0);
  margin: 0;
  padding: 0;
  background-image: url("./SHIELD.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  *zoom: 0;
  display: block;
}

.rain {
  height: 100vh;
  background: url("./rain.png");
  animation: rain 0.4s linear infinite;
}
.rain:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff;
  animation: lighting 6.2s linear infinite;
  opacity: 0;
}
@keyframes rain {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 20% 100%;
  }
}
@keyframes lighting {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  11% {
    opacity: 1;
  }
  14% {
    opacity: 4;
  }
  20% {
    opacity: 0;
  }
  21% {
    opacity: 0;
  }
  24% {
    opacity: 1;
  }
  104% {
    opacity: 4;
  }
}

h1 {
  font-family: Papyrus, fantasy;
  font-size: 58px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  color: orange;
  text-align: center;
  padding-bottom: 50px;
}

.hammer {
  font-family: Papyrus, fantasy;
  font-size: 58px;
  font-style: italic;
  font-variant: normal;
  font-weight: 700;
  color: orange;
  text-align: center;
}

p {
  font-family: Papyrus, fantasy;
  margin: 10px;
  padding: 5px;
  color: orange;
  text-align: center;
  font-size: xx-large;
  font-weight: 600;
}

.choice {
  display: flex;
  justify-content: center;
  padding: 5px;
}

button {
  color: orangered;
  background-color: orange;
  margin: 25px;
}
.container {
  align-content: center;
}
div[class*="box"] {
  height: 33.33%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  line-height: 50px;
  height: 50px;
  text-align: center;
  width: 250px;
  cursor: pointer;
}
.btn-two {
  color: rgb(255, 0, 0);
  transition: all 0.5s;
  position: relative;
  font-weight: 700;
}
.btn-two span {
  z-index: 2;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
}
.btn-two::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.5s;
  border: red 1px solid;
  background-color: orangered;
}
.btn-two::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.5s;
  border: 1px solid rgb(255, 94, 0);
  background-color: rgba(0, 0, 0, 0);
}
.btn-two:hover::before {
  transform: rotate(-45deg);
  background-color: rgba(255, 255, 255, 0);
}
.btn-two:hover::after {
  transform: rotate(45deg);
  background-color: rgba(255, 255, 255, 0);
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
img {
  vertical-align: middle;
  max-width: 100%;
  max-height: 100%;
}
.contained {
  margin: 0 auto;
  width: 90%;
}
@media (min-width: 500px) {
  .contained {
    width: 80%;
  }
}
@media (min-width: 600px) {
  .contained {
    width: 60%;
  }
}

main {
  padding: 1em 0;
  position: relative;
  background: #ff0000;
  box-shadow: 0px -10px 60px rgba(0, 0, 0, 0.25);
}

/* --- Important Pen Styles --- */

header {
  overflow: hidden;
  padding-bottom: 55%;
}
@media (min-width: 600px) {
  header {
    padding-bottom: 50%;
  }
}
@media (min-width: 700px) {
  header {
    padding-bottom: 45%;
  }
}

header img {
  width: 100%;
  max-width: none;
  position: absolute;
  top: 0%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
